@use "layout/nav";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;  
  img {
    max-width: 100%;
  }
}
$azul-escuro: #131f2c;
$azul-claro: #16495c;


.header-container{
  background-color: #131f2c;
  background-image: url(./assets/HeroSection.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  height: 80vh;
}
.header-second-container{
  max-width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  gap: 50px;
  h1{
    font-size: 3rem;
    color: #fff;
  }
  button{
    margin: 0 20px;
    flex-direction:row;    
    gap: 30px;
    padding: 15px 30px;
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
      box-shadow: 0px 3px 10px 1px #888;

  }
}
