@use "../layout/settings" as *;

body{
  margin-top: 17vh;
}
.header-container {
  background-color: #131f2c;
  background-image: url("/assets/HeroSection.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  height: 90vh;
}
.header-second-container {
  max-width: 70vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  gap: 50px;
  h1 {
    max-width: 70%;
    margin-right: 100px;
    font-size: 3rem;
    color: #fff;
  }
  button {
    border: solid;
    margin: 0 20px;
    flex-direction: row;
    gap: 20px;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 3px 10px 0px #888;
  }
}

.nossa-fundadora {
  max-width: 90vw;
  margin: 0 auto;
  padding: 60px 0;
  h2 {
    font-size: 3rem;
    color: $azul-escuro;
    text-align: center;
  }
  h3 {
    color: #6a89a7;
    font-size: 1.4rem;
    margin: 40px 0;
    text-align: center;
  }
}
.card-container {
  border: solid #f0f0f0;
  max-width: 60%;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0px 5px 10px 1px #000;
  .card-conteudo{
    display: flex;
    align-items: center;
    gap: 30px;
  }
  img {
    grid-column: 1;
    max-width: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
  .card-conteudo{
    grid-column: 1/-1;
  }
  h4 {
    grid-row: 1;
    text-align: center;
    font-size: 2rem;
    color: $azul-escuro;
    line-height: 1;
  }
  p{
    font-size: 1.1rem;
    margin: 20px 0;
    line-height: 1.5;
  }
  .sub {
    font-size: 1.3rem;
    margin: 20px 0;
    text-align: center;
  }
  button{
    padding: 10px 30px;
    font-size: 1.2rem;
    color: #fff;
    background-color: $azul-claro;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 1px #888;
  }
}
