@use "./settings" as *;

footer {
  margin-top: 50px;
  background: linear-gradient(to top, $azul-escuro, $azul-claro);
}
.first-footer {
  padding: 60px 0;
  max-width: 90vw;
  margin: 0 auto;
  h2 {
    font-size: 2.5rem;
    margin: 30px 0;
    text-align: center;
    color: #f0f0f0;
  }
  p {
    max-width: 60vw;
    margin: 0 auto;
    font-size: 1.3rem;
    text-align: center;
    color: #f0f0f0;
  }
  .footer-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  a {
    display: inline-block;
    padding: 15px 30px;
    margin: 30px;
    background-color: #f0f0f0;
    color: $azul-escuro;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 1px #888;
  }
}
.footer-second-container {
  background-color: #131f2c;
  .footer-second {
    border-bottom: solid 1px #f0f0f0;
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0 10px 0;
  }
  h2{
    font-size: 1.5rem;
    color: #f0f0f0;
    margin-bottom: 30px;
  }
  p{
    font-size: 1.3rem;
    color: #6a89a7;
    line-height: 1.4;
  }
  .footer-second_descricao{
    width: 40%;
  }
  .footer-second_links{
    li{
      margin-bottom: 20px;
    }
    a{
      font-size: 1.2rem;
      background-color: #131f2c;
      margin-bottom: 10px;
      color: #6a89a7;
    }

  }
  .footer-second_contatos{
    a{
      display: block;
      margin-bottom: 20px;
      font-size: 1.2rem;
      color: #6a89a7;
    }
  }
  .footer-second-container_fim{
    padding: 30px 0;
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    p{
      font-size: 1rem;
    }
    a{
      color: #6a89a7;
    }
  }
}
