@use "./settings" as *;

.nav-container {
  position: fixed;
  top: 0px;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 3px 10px 1px #888;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 17vh;
  max-width: 90vw;
  margin: 0 auto;
  padding: 10px 0;
  gap: 10px;

  .nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
    a {
      color: $azul-claro;
      font-weight: 600;
      font-size: 1.3rem;
      @media (max-width: 900px) {
        font-size: 1rem;
      }
    }
  }
  .nav-whats {
    display: flex;
    align-items: center;
    a {
      padding: 10px 30px;
      background-color: $azul-claro;
      color: #fff;
      font-size: 1.3rem;
      border-radius: 10px;
      box-shadow: 0px 5px 10px 1px #888;
    }
  }
}
